<html>
    <head>
        <title>Project Tree</title>
        <script>
            function addDays(duration){
                var initialDate = new Date(document.getElementById("ct_startDate").value);
                const copy = new Date(Number(initialDate))
                copy.setDate(initialDate.getDate() + duration)
                dateWithDuration = [copy.getFullYear(), copy.getMonth()+1, copy.getDate()]
                return dateWithDuration
            }
            
            function setDuration()
            {
                var duration = parseInt(document.getElementById("ct_duration").value);
                var edate = addDays(duration);
                var formatMonth = edate[1];
                if(edate[1]<10){
                    formatMonth = "0"+edate[1]
                }
                var formatDay = edate[2];
                if(edate[2]<10){
                    formatDay = "0"+edate[2]
                }
            
                var formatDate = edate[0]+"-"+formatMonth+"-"+formatDay;
                document.getElementById("ct_endDate").value= formatDate;
            }
        </script>
    </head>
    <body>
        <h3>Tasks</h3>
        <ul>
        <% tasks.forEach(function(task){ %>
            <li><%= task.id %> <%= task.name %></li>
        <% }) %>
        </ul>

        <h3>Create Task</h3>
        <form method='post' action='/task/add'>
            <label for='ct_taskName'> Name of task</label><br>
            <input type='text' name='ct_taskName'> <br><br>
            <label for='ct_startDate'> Start Date</label><br>
            <input type='date' name='ct_startDate' id='ct_startDate'>  <br><br>
            <label for='ct_duration'> Duration (Days) </label><br>
            <input type='text' name='ct_duration' id='ct_duration' onchange='setDuration()'> <br><br>
            <label for='ct_endDate'> End date </label><br>
            <input type='date' name='ct_endDate' id='ct_endDate' readonly> <br><br>
            <label for='ct_description'> Description </label><br>
            <textarea name="ct_description" cols='30' rows='10'></textarea><br>
            <input type='submit' value='Submit'>
        </form>

        <h3>Create Task Dependency</h3>
        <form method='post' action='/dependency/add'>
            <label for='cd_firstTaskId'> First Task ID</label> <br>
            <input type='number' min="0" name='cd_firstTaskId'> <br> <br>
            <label for='cd_secondTaskId'> Second Task ID</label> <br>
            <input type='number' min="0" name='cd_secondTaskId'> <br> <br>
            <label for='cd_relationshipType'> Relationship Type</label> <br> 
            <select name='cd_relationshipType'> <br>
                <option value='ss'>Start->Start</option>
                <option value='sf'>Start->Finish</option>
                <option value='ff'>Finish->Finish</option>
                <option value='fs'>Finish->Start</option>
            </select> <br> <br>
            <label for='cd_dependencyDuration'> Dependency Duration</label> <br>
            <input type='number' name='cd_dependencyDuration' value='0'> <br>
            <input type='submit' value='Submit'>
        </form>

        <h3>Delete Task</h3>
        <form action="/task/delete" method="post">

            <label for="fname">Enter ID to delete:</label><br>
            <input type="number" name="id"/><br/>
            <input type="submit" value="Submit">
        </form>
		
		<h3>Delete Dependency</h3>
		<form action="/dependency/delete" method="post">
			<label for="fname">Enter 1st ID dependency to delete:</label><br>
            <input type="number" name="dep1"/><br/>
			<label for="fname">Enter 2nd ID dependency to delete:</label><br>
            <input type="number" name="dep2"/><br/>
            <input type="submit" value="Submit">
        </form>

        <p style="color: red;"><%= req.query.error %></p>
        <h3>Update Task</h3>
        <p>Leave a field blank to not change it</p>
        <form action="/task/update" method="post">
            <label for="id">Select Task by ID:</label><br/>
            <input name="id" type="number" min="0"/>
            <br/><br/>
            <label for="name">Name:</label><br/>
            <input name="name" type="text"/>
            <br/><br/>
            <label for="startDate">Start Date:</label><br/>
            <input name="startDate" type="date"/>
            <br/><br/>
            <label for="duration">Duration:</label><br/>
            <input name="duration" type="number" min="0"/>
            <br/><br/>
            <label for="endDate">End Date:</label><br/>
            <input name="endDate" type="date"/>
            <br/><br/>
            
            <label for="description">Description:</label><br/>
            <textarea name="description" cols="30" rows="10"></textarea>
            <br/>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>