.circular {
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 100%;
  margin-bottom: 10px;
}

.circular img {
  width: 100%;
  height: auto;
}

.helpTooltip > .tooltip-inner {
  max-width: 20em;
}

.card-title {
  margin-top: 28;
}