.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #96bb7c;
}
.carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin: 10px;
  background-color: #eebb4d;
}

.carousel {
  width: 98%;
  height: 25em;
  margin: 10px;
  //box-shadow: 0px 0px 12px 2px rgba(85, 28, 28, 0.2);
}

.carouselSlides {
  width: 100%;
  height: 24em;
}

.carousel-caption {
  color: black;
  left: 20px;
}
.carousel-caption {
  color: black;
  top: 0;
  bottom: auto;
  text-align: left;
}

.carousel-control-prev,
.carousel-control-next {
  height: 20px;
  width: 20px;
  outline: rgb(219, 21, 21);
  background-size: 100%, 100%;
  top: 50%;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='green' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='green' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
